@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
* {
	margin: 0;
	padding: 0;
}html{
	height: 100%;
}
body {
    height: 100%;
	font-family: 'PT Serif', serif;
}
.wrapper {
    background: yellow;
    display: flex;
    flex-direction: column;
    height: 100%
}
.header {
    background: red;
    height: 100px;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.leftheader {
	margin:0 10px;
}
.middleheader span {
	display: inline-block;
	margin:0 30px;
	font-size: 30px;
	font-weight:700;
	/*border: 2px solid #fff;
	border-radius: 10%;*/
}
.middleheader .lable {
	color: green;
	font-size: 40px;
}
/*.middleheader:nth-child(odd)
.product, .catalog {
	font-size: 30px;
	font-weight:700;
} */
.rightheader {
	max-width: 130px;
}
.contact-hours {
	color:grey;
	line-height:12px;
	font-size: 14px;
	display: block;
	font-weight:400;
}
.main {
    background: green;
    flex: 1 1 auto;
}
a {
	text-decoration: none;
}
.footer {
    background: blue;
    height: 200px;
    flex: none;
	font-size: 15px;
	color: #000;
}
.container-footer {
	display: flex;
	justify-content: space-between;
	width: 1140px;
}
.logo-block img {
	max-width: 50px;
	max-height: 50px;
}
.carousel-item img {
	height: 300px;
	
}