@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
* {
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body {
    height: 100%;
	font-family: 'PT Serif', serif;
	margin: 0;
}
.wrapper {
	background: url('../images/фон3.jpg') left top repeat;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
a {
	text-decoration: none;
}
/* popup */
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popup-desk.active {
	display: block;
}
.calendar, 
.popup,
.log {
	position: absolute;
	left: calc(50% - 150px);
	top: 200px;
	width: 310px;
	background: #ef8ab8fc;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	user-select: none;
	text-align: center;
	
}
.calendar > table {
	width: 100%;
}
.calendar > .header {
	height: 50px;
}
.left,
.right {
	font-size: 30px;
}
.holiday {
	color: green;
}
.log input,
.log button,
.register {
	width: 250px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid white;
	box-sizing: border-box;
	font-size: 15px;
	color: black;
	margin-bottom: 20px;
	padding-left: 3px;
}
.log button {
	width: 70px;
	height: 30px;
	margin-right: 28px;
	padding: 0;
	margin-bottom: 0;
}
.log a {
	width: 150px;
	height: 30px;
	
}
.left,
.right,
.workday,
.holiday {
	cursor: pointer;
}
.gorod p {
	text-align: center;
	margin-bottom: 10px;
}
.gorod button {
	border: none;
	color: white;
	width: calc(50% - 10px);
}
.gorod button:first-of-type {
	background: lightgreen;
	margin: 0 10px 0 0;
	border-radius: 50%;
}
.gorod button:last-of-type {
	background: violet;
	margin: 0 0 0 10px;
	border-radius: 50%;
}
.basket {
	float: right;
	margin: 30px 0 30px 50px;
	border: 1px solid #000;
	line-height: 40px;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}

.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: red;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}

.header {
    background: #ec4b82d9;
    height: 100px;
    display: flex;
	flex: none;
	justify-content: space-between;
	align-items: center;
}
.leftheader {
	margin:0 10px;
}
#yourcity {
	cursor: pointer;
	color: #341313ba;
}
.middleheader {
	}
nav {
	display: flex;
	align-items: center;
	/*align-items: center;*/
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	}
.menupoint {
	/*display: inline-block;*/
	margin: 0;
	position: relative;
	width: 250px;
	/*height: 100px;*/
	
}
.aboutus,
.catalog {
	display: none;
}
.menu {
	display: none;
	position: absolute;
	border: 5px solid white;
	border-radius: 25%;
	top: 38px;
	left: 70px;
	padding: 60px 20px 20px 20px;
	/*width: 100px;*/
	z-index:2;
	
}
#dream {
	top: 80px;
	left: 35px
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
	background: #ef6383e8;
}
.lable {
	color: green;
	font-weight:700;
	font-size: 30px;
	line-height: 80%;
}
.pulldown-point {
	display: block;
	font-size: 15px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 10px;
	background: white;
	color: green;
}

.rightheader {
	max-width: 130px;
}
.contact-hours {
	min-width: 75px;
	color:#341313ba;
	line-height:12px;
	font-size: 14px;
	display: block;
	font-weight:400;
}
.main {
	display: flex;
	/*width: 900px;*/
	height: 320px;
	position: relative;
    background: #427b60eb;
    /*flex: 1 1 auto;*/
	border: #0d7041fc 5px solid;
}
.main2 {
	flex: 1 1 auto;
}
.medium {
	width: 100%;
	flex: 1 4 auto;
	align-self: flex-start;
}
/*.carousel slide pointer-event */
#carouselExampleCaptions {
	display: none;
}
.mainleft {
	/*flex: 1 1 auto;*/
	min-width: 215px;
	/*padding: 10px;*/
	margin: 0 100px 0 70px;
	background: url('../images/дом-1.jpg') left top
}
.mainright {
	display: flex;
	flex-direction: column;
	margin-right: 70px;
}
.mainright-1 {
	width: 200px;
	height: 103px;
	background: url('../images/кухня-1.jpg') left top
}
.mainright-2 {
	width: 200px;
	height: 103px;
	background: url('../images/еда-1.jpg') left top
}
.mainright-3 {
	width: 200px;
	height: 103px;
	background: url('../images/пиво-1.jpg') left top
}
.main-wrapper {
	flex: 1 1 auto;
	background: transparent;
	display: flex;
	margin: 10px 150px 10px 150px;
}

.carousel-item img {
	height: 310px;
	
}
aside {
	display: none;
	flex: none;
	width: 180px;
	background: #ec4b82d9;
	color: #fff;
	height: 1200px;
	font-weight:700;
}
.catmenu {
	padding: 16px;
}
.catmenu_item {
	padding: 0 20px 10px;
	position: relative;
	cursor: pointer;
	color: white;
}
.catmenu_item:before {
	content: '*';
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: #98f1c8;
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
	color: white;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	color: #98f1c8;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	content: '->';
	position: absolute;
	left: 0;
}

/* catalog */

.cat-blocks,
.cat-blocks-1 {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 8px;
}
.cat-blocks-1 {
	/*flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;*/
	gap: 50px;
	padding: 30px 0 30px 100px;
}
.cat-unit {
	height: 200px;
	width: 200px;
	background: pink;
}
.product {
	width: 100%;
}
.gallery-desk {
	width: 530px;
	float: left;
}
.main-image {
	padding: 24px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 25px;
}
.gallery-desk img {
	cursor: zoom-in;
}
.gallery {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.small-image {
	width: 170px;
	height: 170px;
	padding: 4px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
}
.small-image > img {
	max-height: 160px;
	max-width: 160px;
}
.description-desk {
	margin-left: 540px;
}
.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}
.login {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 100px;
	height: 100px;
	font-size: 24px;
	background: #ec4b82d9;
}
#name,
#text,
#address,
#email,
#date,
#comment,
#zakaz,
td > input {
	width: 200px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
    background: #359b2fcc;
    color: black;
}
.order {
	width: 100%;
}
.nihil {
	display: none;
}
.empty .nihil {
	display: block;
}
.empty .table,
.empty #orderdata {
	display: none;
}
.rub:after, .sum:after, .allsum:after {
	content: ' \20bd';
}
.num input {
	border: 0;
	width: 50px;
}
.del {
	width: 60px;
}
.del > div {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    text-align: center;
    font: normal 24px/24px Arial;
    transform: rotate(45deg);
    transform-origin: center;
    background: red;
    color: white;
    cursor: pointer;
}
.footer {
	display: flex;
    background: #6666a2db;
    height: 150px;
    flex: none;
	font-size: 15px;
	color: #000;
}
.container-footer {
	display: flex;
	justify-content: space-between;
	min-width: 770px;
}
.logo-block img {
	max-width: 50px;
	max-height: 50px;
}


/* different screens */
@media (min-width: 576px) {
	.cat-blocks {
		gap: 32px;
	}
	.main-wrapper {
		gap: 16px;
	}
}
@media (min-width: 768px) {
	.cat-blocks {
		gap: 4px;
	}
	aside {
		display: block;
		width: 160px;
	}
	.aboutus,
	.catalog {
	display: block;
}
	.lable {
	font-size: 40px;
	}
	.menu {
	width: 200px;
	left: 40px;
	}
	.menupoint {
	font-size: 25px;
	}
	/*.menupoint:nth-child(odd) {
	display: block;
	}*/
	#carouselExampleCaptions {
	display: block;
	}
	.mainleft {
	margin: 0;
	}
	.mainright {
	margin-right: 0;
	}
}
@media (min-width: 992px) {
	.cat-blocks {
		gap: 10px;
	}
	aside {
		width: 260px;
	}
	.cat-blocks-1 {
	display: none;
	}
}
@media (min-width: 1200px) {
	.cat-blocks {
		gap: 22px;
	}
	.cat-blocks-1 {
	display: none;
	}
}
@media (min-width: 1400px) {
	.cat-blocks {
		gap: 14px;
	}
}